body {
  background-color: "blue";
}

p {
  font-family: 'Lato', sans-serif !important;
}

h1 {
  font-family: 'Lobster', cursive !important;
}
h3 {
  font-family: 'Lobster', cursive !important;
}
h4 {
  font-family: 'Lobster', cursive !important;
}

.img {
  margin: 20px;

}
.navBar {
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.hide {
  display: none;
}

.center-column {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
